<header id="in8it8" class="header1">
    <div id="i575rl" class="container">
        <div data-columns="1" data-gjs="navbar" id="iyp1im" class="row no-gutters">
            <div data-column="1" id="inpxw9" class="cell">
<a [routerLink]="['##']" id="i4ku7m" class="">
<span id="i5znup" class="brand-name">
Modernarc</span>
</a>

                <div id="i3dv0k" class="burger">
                    <div id="template-i4gfj" class="burger-line-dark"></div>
                    <div id="template-ibv2s" class="burger-line-dark"></div>
                    <div id="template-iwt6i" class="burger-line-dark"></div>
                </div>
            </div>
            <div data-column="1" id="i8smfs" class="cell">
                <div data-gjs="navbar-items" id="template-iksix" class="menu-container">
                    <nav data-gjs="navs" id="template-i0su8" class="menu">
<a [routerLink]="['##']" id="i6lytg" class="menu-link">
Home</a>

<a [routerLink]="['https://grapedrop.com/preview/bdc7f08b7e854f7cbe15f8293b8be25d']"
                        id="iyluko" class="menu-link">
About</a>

<a [routerLink]="['##']" id="io2a2p" class="menu-link">
Contact</a>

                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="main" class="">
    <section id="idtd" class="gpd-section">
        <div id="inqj" class="gpd-container gpd-cnt">
            <div id="ipaakl" class="gdp-row gpd-grid">
                <div id="iyzhsl" class="cell gpd-clm">
                    <div id="i34zg" class="gdp-row gpd-grid">
                        <div id="i0ce2" class="cell gpd-clm">
                            <div id="i1zch" class="gdp-row gpd-grid">
                                <div id="template-ih8dg" class="cell gpd-clm">
                                    
<h1 id="i628v" class="gpd-header">
<div id="template-i3xr3" class="">
Architecture</div>
<br id="template-i3fbl" class="">
<div id="template-itzuh" class="">
at its best</div>
</h1>

                                </div>
                                <div id="i67xx" class="cell gpd-clm">
                                    <button type="button" id="ivl8a" class="btn btn-primary">Explore More</button>
                                </div>
                            </div>
                        </div>
                        <div id="ic8j9" class="cell gpd-clm">
                            <div id="iho7v" class="gdp-row gpd-grid">
                                <div id="ilu3f" class="cell gpd-clm">
                                    <img id="iy6ck" src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/2d9795024bf34f3a9c72bbea0f5877db_mask_group_13.png"
                                    class="" />
                                </div>
                                <div id="inelg" class="cell gpd-clm">
                                    <img id="iemwu" src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/4e8c1efe49794dd89794d08ead1e28e3_mask_group_14.png"
                                    class="" />
                                </div>
                                <div id="ix8dn" class="cell gpd-clm">
                                    <img id="ihh7n" src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/e9e0b65f40914ae5832344b8c7d4939d_mask_group_15.png"
                                    class="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="i4pi" class="gpd-section">
        <div id="ic1c" class="gpd-container gpd-cnt">
            <div id="ijyx" class="gdp-row gpd-grid">
                <div id="ivwh" class="cell gpd-clm">
                    <img id="iwac" src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/9c559dd9e12447caab27fe9f828bee45_group_346.png"
                    class="" />
                </div>
                <div id="it9j" class="cell gpd-clm">
                    <div id="ik4kj" class="gpd-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                        sint occaecat cupidatat non provident.</div>
                </div>
            </div>
        </div>
    </section>
    <section id="iiquh" class="gpd-section">
        <div id="ir0of" class="gpd-container gpd-cnt">
            <div id="ib23r" class="gdp-row gpd-grid">
                <div id="i09tw" class="cell gpd-clm">
                    <div id="imgdh" class="gdp-row gpd-grid">
                        <div id="template-ipy12a" class="cell gpd-clm">
                            
<h1 id="i8y5x" class="gpd-header">
<div id="template-ic1ecj" class="">
Architecture</div>
<br id="template-izqne9" class="">
<div id="template-itvdxn" class="">
is just art we live in</div>
</h1>

                        </div>
                        <div id="imy4o" class="cell gpd-clm">
                            <div id="ixhfj" class="gpd-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                provident.</div>
                        </div>
                        <div id="i0eh2" class="cell gpd-clm">
                            <button type="button" id="im44fd" class="btn btn-primary">View More</button>
                        </div>
                    </div>
                </div>
                <div id="ieahy" class="cell gpd-clm">
                    <img id="ifgjp" src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/4babbdbb8a7b44369f1ddd81b0d50edb_afk.png"
                    class="" />
                </div>
            </div>
        </div>
    </section>
    <section id="iuxq7" class="gpd-section">
        <div id="i0f6m" class="gpd-container gpd-cnt">
            <div id="ina3w" class="gdp-row gpd-grid">
                <div id="iepsu" class="cell gpd-clm">
                    <div id="ieagk" class="gpd-text">
                        <div id="template-iaga9k" class=""> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore </div>
                        <br id="template-iuffph" class="">
                        <div id="template-ik16ym" class="">eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, </div>
                        <br
                        id="template-i4myyh" class="">
                            <div id="template-iapadt" class="">sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                    </div>
                </div>
                <div id="is1qx" class="cell gpd-clm">
                    <div id="igwaq" class="gdp-row gpd-grid">
                        <div id="iqeaw" class="cell gpd-clm">
                            <img id="io1pf" src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/44169bf76b0b4744a9d952a5b60e6786_new1.png"
                            class="" />
                        </div>
                        <div id="itzme" class="cell gpd-clm">
                            <img id="igcfk" src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/d1b012c7b78c4e5e85618370009aac51_img2.png"
                            class="" />
                        </div>
                        <div id="iphps" class="cell gpd-clm">
                            <img id="iia7z" src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/b17fea9b6b924a7eafa98ed83b016c8e_new3.png"
                            class="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="ikldg" class="gpd-section">
        <div id="i9hjz" class="gpd-container gpd-cnt">
            <div id="iev2i" class="gdp-row gpd-grid">
                <div id="i848z" class="cell gpd-clm">
                    <div id="ier8o" class="gdp-row gpd-grid">
                        <div id="i49fg" class="cell gpd-clm">
                            
<h1 id="ii26x" class="gpd-header">
Change Is Not An Event, It's A Process</h1>

                        </div>
                        <div id="i6a5s" class="cell gpd-clm">
                            <div id="i1rwc" class="gpd-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint occaecat </div>
                        </div>
                        <div id="igv39" class="cell gpd-clm">
                            <button type="button" id="irmxw" class="btn btn-primary">Explore More</button>
                        </div>
                    </div>
                </div>
                <div id="i8vfw" class="cell gpd-clm">
                    <div id="ihn2e" class="gdp-row gpd-grid">
                        <div id="id5hj" class="cell gpd-clm">
                            <div id="ix9oo" class="gpd-text">01. Discuss</div>
                            <div id="i137g" class="gpd-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat </div>
                        </div>
                        <div id="ig233" class="cell gpd-clm">
                            <div id="i6lpv" class="gpd-text">02. Research</div>
                            <div id="i69mz" class="gpd-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat </div>
                        </div>
                    </div>
                    <div id="ih5rj" class="gdp-row gpd-grid">
                        <div id="i0u0i" class="cell gpd-clm">
                            <div id="iyqap" class="gpd-text">03. Create Conecpt</div>
                            <div id="ipipp" class="gpd-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat </div>
                        </div>
                        <div id="ivt5a" class="cell gpd-clm">
                            <div id="ivv1a" class="gpd-text">04. Implementation</div>
                            <div id="iojm5" class="gpd-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="i84eg" class="gpd-section">
        <div id="iiswz" class="gpd-container gpd-cnt">
            <div id="izstu" class="gdp-row gpd-grid">
                <div id="ijo4n" class="cell gpd-clm">
                    <div id="i2j0q" class="gpd-text">OVERVIEW</div>
                </div>
                <div id="imyq6" class="cell gpd-clm">
                    <div id="iohzw" class="gdp-row gpd-grid">
                        <div id="i8yd5" class="cell gpd-clm">
                            <div id="is4vl" class="gpd-text">Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod
                                Tempor Incididunt Ut Labore Et Dolore Magna Aliqua. Ut Enim Ad Minim Veniam,
                                Quis Nostrud Exercitation Ullamco Laboris Nisi Ut </div>
                        </div>
                        <div id="ie95p" class="cell gpd-clm">
                            <div id="ia1sy" class="gdp-row gpd-grid">
                                <div id="iqoma" class="cell gpd-clm">
                                    <div id="i2fki" class="gpd-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                        dolore eu fugiat nulla pariatur. Excepteur</div>
                                </div>
                                <div id="ivcul" class="cell gpd-clm">
                                    <div id="i4ey2" class="gpd-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                        dolore eu fugiat nulla pariatur. Excepteur dolore</div>
                                </div>
                            </div>
                            <div id="i5e4j" class="gdp-row gpd-grid">
                                <div id="iwrhl" class="cell gpd-clm">
                                    <div id="ibt5e" class="gpd-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud </div>
                                </div>
                                <div id="i5s0f" class="cell gpd-clm">
                                    <div id="i2kjj" class="gpd-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="ikkp7" class="gpd-section">
        <div id="template-i0uyoa" class="gpd-container gpd-cnt">
            <img id="ipzox" src="https://cdn.grapedrop.com/uf9ef8595751c4d1f87c91168f5d51a8c/171b5726b095407a8904fa8171e8674d_group_347.png"
            class="" />
        </div>
    </section>
    <section id="ik9duo" class="gpd-section">
        <div id="template-iquq9k" class="gpd-container gpd-cnt">
            <div id="i68gqe" class="gdp-row gpd-grid">
                <div id="irms2n" class="cell gpd-clm">
                    <div id="i3ee8k" class="gpd-text">Want to Collaborate with us?</div>
                </div>
                <div id="ineb6u" class="cell gpd-clm">
                    <button type="button" id="ih6xi" class="btn btn-primary">Contact us</button>
                </div>
            </div>
        </div>
    </section>
</section>