<footer id="foot" class="">
    <section id="ipozyq" class="gpd-section">
        <div id="template-io8ra5" class="gpd-container gpd-cnt">
            <div id="i1btoo" class="gdp-row gpd-grid">
                <div id="imxwiq" class="cell gpd-clm">
                    <div id="i8hlry" class="gpd-text">MODERNARC.CO</div>
                </div>
                <div id="irh47p" class="cell gpd-clm">
                    <div id="iwewml" class="gpd-text">Company 2020 All rights reserved</div>
                </div>
            </div>
        </div>
    </section>
</footer>